# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/

# SQLite
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Logs
*.log

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local
soonish.egg-info/dependency_links.txt
soonish.egg-info/PKG-INFO
soonish.egg-info/requires.txt
soonish.egg-info/SOURCES.txt
soonish.egg-info/top_level.txt
