The tech stack is python and temporal.io.
Frontend will be HTMX and Alpine.js
EVERY NEW LINE OF CODE IS A NEW LIABILITY, CODE ADDITIONS MUST BE MINIMAL AND NECESSARY.

Before making any changes, ask for review
Changes should be no longer than 30 lines of code, if a change is larger than that we need to camp out on it for extra time.

use `uv` for everything `uv venv` `uv pip` `uv init --script` etc.

use environment variables for configuration often

assume temporal and apprise-api are running and available at configured URLs