# docker-compose.yml
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    network_mode: host
    restart: unless-stopped
    # TUNNEL_TOKEN=$(tofu output -raw tunnel_token) docker compose up -d
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}